.but{
	background-color: white;
	color: #191919;
	font-size: 25px;
	padding: 0px 15px 4px 15px;
	border-radius: 10px;
	margin-top: 0px;
	margin-bottom: 10px;
}
.mb{
	background-color: #717272;
	height: 25px;
	width: 25%;
	float: left;
	padding-top: 15px;
	padding-bottom: 20px;
	color: white;
	text-decoration: none;
}
.t{
	font-size: 25px;
	cursor: pointer;
}
.butt{
	background-color: black;
	color: #D4D4D4;
	font-size: 30px;
	border-radius: 25px;
	padding: 16px 21px 16px 21px;
	cursor: pointer;
}
.butdiv{
	margin-left: 37%;
	margin-top: 8.5%;
	margin-bottom: 8.5%;
}
.h{
	background-image: url('architecture-black-and-white-challenge-277593.jpg');
	background-size: cover;
}
.foo{
	font-size: 25px;
	color: white;
	text-decoration: none;
	margin-top: 4%;
}
.foo:hover{
	text-decoration: underline;
}